body {
	background: black;
	font-family: "Comic Neue";
}
* {
	border: 0px dashed red;
	min-height: 10px;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
	padding-left: 5px;
}
.postcard-header {
	display: flex;
	width: 400px;
	height: 50px;
}
.postcard-header img {
	width: 50px;
	height: 50px;
	position: ;
}
.postcard-header h1 {
	width: 350px;
	height: 50px;
	margin: auto;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0px;
}
.body-left,
.body-right {
	padding: 5px;
}
input {
	color: grey;
	border-bottom-color: grey;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: lightgrey;
	border: 2px solid;
	border-color: black grey grey black;
}
button:hover {
	border: 2px solid;
	border-color: grey black black grey;
}
